* {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

.navbar-brand {
  font-size: 1.75rem;
}

.foodmart-logo {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 202, 17);
}

.navbar {
  background-color: rgb(187, 255, 187);
}

.category-dropdown:hover .category-dropdown-menu {
  display: block;
}

main {
  min-height: 100vh; 
}

.promotions-img {
  width: 100%;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

footer {
  background-color: rgb(187, 255, 187);
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: fixed;
  padding: 10px;
}
.dropdown-cart {
  width: 200px;
  transform: translateX(-17%);
}

.text-short{
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: block;
}
.cart-min-img {
  width: 20px;
  height: auto;
}
.button-cart {
  display: flex;
  justify-content: center;
}
.liked-smth {
  font-size: 1.2rem;
}
.bonuses {
  background-color: rgb(144, 238, 144);
  border-color: rgb(144, 238, 144);;
}
.additional {
  margin-top: 20px;
}
.liked-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.back-like {
  background-image: url('../images/scale_1200.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-liked {
  width: 70%;
}