* {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

.navbar-brand {
  font-size: 1.75rem;
}

.foodmart-logo {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 202, 17);
}

.navbar {
  background-color: rgb(187, 255, 187);
}

.category-dropdown:hover .category-dropdown-menu {
  display: block;
}

main {
  min-height: 100vh; 
}

.promotions-img {
  width: 100%;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

footer {
  background-color: rgb(187, 255, 187);
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: fixed;
  padding: 10px;
}

.dropdown-cart {
  width: 200px;
  transform: translateX(-17%);
}

.text-short{
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: block;
}

.cart-min-img {
  width: 20px;
  height: auto;
}

.button-cart {
  display: flex;
  justify-content: center;
}

.liked-smth {
  font-size: 1.2rem;
}

.btn-liked {
  border-color: crimson;
  background-color: crimson;
}

.bonuses {
  background-color: rgb(144, 238, 144);
  border-color: rgb(144, 238, 144);;
}

.additional {
  margin-top: 20px;
}

.liked-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.back-like {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-liked {
  width: 70%;
}

#navbar-toggler {
  position: relative;
}

.nav-menu-overlay {
  position: absolute;
  top: 100%; right: 0;
  width: 200px;
  height: 300px; 
  z-index: 1050;
}

#navItems {
  display: none;
}

.nav-items-mobile {
  background-color: white;
  border-radius: 8px;
  width: 95%;
  height: 95%;
}

#navMenuOverlay.d-none {
  opacity: 0;
  pointer-events: none;
}

#navMenuOverlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 992px) {
  #navItems {
    display: flex !important;
  }
  #navMenuOverlay {
    display: none;
  }
}

@media (max-width: 646px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu-overlay {
    position: absolute;
    top: 37%; right: 0;
    width: 200px;
    height: 300px; 
    z-index: 1050;
  }

  .navbar-brand {
    order: 1;
    flex-grow: 1;
  }

  #burger-button {
    order: 1;
    align-self: flex-end;
  }

  form[role="search"] {
    order: 2;
    width: 100%;
    margin: 10px;
  }

  .category-dropdown {
    order: 3;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  #categoryDropdownMenuLink {
    width: 100%;
  }
}














